
.sj-extra-top .sj-eatra-top-title{
    font-size: 13px;
    color: #434343;
}
.extraslider-wrapper .page .line .item-wrapper{
    border-right: 1px dotted #CCCCCC;
}
.extraslider-wrapper .page .line .item-wrapper .item-info{
    background:#666666 ;
    color: #FFF;
}
.extraslider-wrapper .line .item-wrapper .item-info.item-info-spotlight .opacity{
    background:#000 ;
}
.extraslider-wrapper .page .line .item-wrapper .item-info .item-price {
	color: #F30000;
}





