/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
::selection { 
  background: #f54d56;
  color: white;
}

::-moz-selection { 
  background: #f54d56;
  color: white;  
}
::-webkit-input-placeholder {color:#656363;}
::-moz-placeholder {color:#656363;}

input:not([type]), 
input[type="color"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
  display: block;
  height: 30px !important;
  border: 3px solid #edecec;
  padding: 0px 0px;
  text-indent: 10px;
  color:#656363;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 20px;
  margin: 0px;
  outline: none;
}
input:not([type]), 
input[type="color"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"], textarea {
  display: block;
  border: 3px solid #edecec;
  padding: 0px 0px;
  text-indent: 10px;
  color:#656363;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 20px;
  margin: 0px;
  outline: none;
}
input:not([type]), 
input[type="color"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
  height: 30px !important;
}
textarea {
  height: 80px !important;
  width: 358px;
  resize: none;
}
input[type="color"]:hover, 
input[type="email"]:hover, 
input[type="number"]:hover, 
input[type="password"]:hover, 
input[type="tel"]:hover, 
input[type="url"]:hover, 
input[type="text"]:hover, textarea:hover {
  border: 3px solid #bbbbbb;
}
input[type="color"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
input[type="text"]:focus, textarea:focus {
  border: 3px solid #f7ede3;
}
input[type="button"], 
input[type="submit"], 
input[type="reset"], 
input[type="file"]::-webkit-file-upload-button, 
button {
  display: block;
  height: 36px;
  text-align: center;
  padding: 0px 10px;
  background: #f54d56;
  color: #fff;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0px;
  outline: none;
  border: none;
  cursor: pointer;
}
a.product-details, a.continue_link, a.details  {
  display: block;
  height: 36px;
  text-align: center;
  padding: 0px 10px;
  background: #f54d56;
  color: #fff !important;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none !important;
  line-height: 36px;
}
a.remove_ico {
  display: block;
  float: left;
  width: 26px;
  line-height: 36px;
  text-decoration: none !important;
}
input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="file"]::-webkit-file-upload-button:hover, 
button:hover, a.product-details:hover, a.continue_link:hover, a.details:hover {
  background: #4c5e90;
}
input[type="button"]:active, 
input[type="submit"]:active, 
input[type="reset"]:active, 
input[type="file"]::-webkit-file-upload-button:active, 
button:active, a.product-details:active, a.continue_link:active, a.details:active {
  background: #001961;
}
a.details  {
  float: left;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"], 
input[type="file"], 
button {
  -webkit-appearance: none;
  appearance: none;
}

@font-face {
    font-family: AkzidenzGroteskPro_BoldCn;
    src: local("AkzidenzGroteskPro_BoldCn"), 
        url(../fonts/AkzidenzGroteskPro-BoldCn.otf);
}
@font-face {
    font-family: AkzidenzGroteskPro_LightCn;
    src: local("AkzidenzGroteskPro_LightCn"), 
        url(../fonts/AkzidenzGroteskPro-LightCn.otf);
}
@font-face {
    font-family: AkzidenzGroteskPro_Regular;
    src: local("AkzidenzGroteskPro_Regular"), 
        url(../fonts/AkzidenzGroteskPro-Regular.otf);
}
@font-face {
    font-family: ALS_Direct_Cond;
    src: local("ALS_Direct_Cond"), 
        url(../fonts/ALS_Direct_Cond.otf);
}
@font-face {
    font-family: ALS_Direct_Cond_Light;
    src: local("ALS_Direct_Cond_Light"), 
        url(../fonts/ALS_Direct_Cond_Light.otf);
}

body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both; 
}
strong, b {
  font-weight: normal;
  font-family: AkzidenzGroteskPro_BoldCn, Verdana, sans-serif;
}
em, i {
  font-style: italic;
}
p {
  line-height: 24px;
}
ul {
  list-style: none;
}
#content ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 10px 0px 20px 0px;
}
#content ul li {
  line-height: 26px;
  font-size: 18px;
}
#content p {
  text-align: justify;
  margin-bottom: 20px;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: underline;
}
a, a:link, a:visited {
  color: #f54d56;
}
a:hover, a:active, a:focus {
  color: #263b79;
}
h1, h2, h3, h4, h5 { 
  display: block;
  color: #263b79;
  font-family: AkzidenzGroteskPro_BoldCn, Verdana, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 90px;
  text-transform: uppercase;
  text-align: center;
}
h1, .latest-view h4 { 
  background: url(../images/bg_head.png) center center no-repeat;
}
h2 { 

}
h3 { 

}
h4 { 

}
h5 {

}
h6 {

}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
.content .item-page table {
  width: 100%;
}
.content .item-page table td {
  padding: 4px 0px;
  vertical-align: top;
}
.mod-articles-category-date {
  display: block;
  color: #263b79;
  line-height: 20px;
  margin-bottom: 0px;
}
.mod-articles-category-introtext {
  text-align: justify;
}
#pluso {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 30px auto;
}
#pluso a, #pluso a:hover {
  text-decoration: none;
}
.metrika {

}
.metrika a, .metrika a:hover {
  text-decoration: none;
}
#top {
  position: relative;
  height: 44px;
  background: #f54d56;
  margin-bottom: 25px;
}
.breadcrumbs {
  position: relative;
  float: left;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 44px;
}
.breadcrumbs a {
  color: #fff;
}
.breadcrumbs span {
  color: #fff;
}
#top .search {
  position: relative;
  float: right;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 20px;
  color: #263b79;
  padding-top: 2px;
}
#top .search .inputbox {
  float: left;
  margin-right: 2px;
}
#top .search .button {
  float: right;
}
.search-results {
  line-height: 22px;
}
.word, .phrases, .only, .form-limit, .result-category, .result-created, .pluso-more, .article-info-term, .actions {
  display: none !important;
}
.article-info .published {
  display: block;
  color: #263b79;
  line-height: 20px;
}
.pagination, .counter {
  position: relative;
  text-align: center !important;
}
.pagination ul {
  position: relative;
  display: block;
  text-align: center;
}
.pagination ul li{
  position: relative;
  display: inline;
  text-align: center;
  margin: 0px 10px;
  line-height: 20px;
}
.result-title {
  padding-bottom: 10px;
}
.result-text {
  padding-bottom: 20px;
}
.img-fulltext-left {
  float:left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.img-intro-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.img-fulltext-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.img-intro-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

html {
  height: 100%;
}
body {
  color: #656363; 
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 20px;
  min-width: 990px;
  height: 100%;
  margin: 0 auto;
}
#min_height {
  position: relative;
  margin: 0px auto;
  min-height: 100%;
}
#footer {
  position: relative;
  height: 65px;
  margin: -85px auto 0px auto;
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
}
.foot_left {
  position: relative;
  float: left;
  height: 65px;
}
.foot_right {
  position: relative;
  float: right;
  height: 65px;
}
.empty {
  height: 125px;
  clear: both;
}
.wfix {
  position: relative;
  width: 980px;
  margin: 0px auto;
}
#header {
  position: relative;
  height: 140px;
  clear: both;
  background: #f7ede3;
}
.logo {
  display: block;
  float: left;
  width: 195px;
  height: 10px;
  text-decoration: none;
  background: url(../images/logo.png) 0px 24px no-repeat;
  margin-right: 20px;
  font-style: italic;
  text-decoration: none !important;
  font-size: 20px;
  line-height: 20px;
  padding-top: 105px;
  color: #263b79;
}
.head_left {
  position: relative;
  float: left;
}

.head_right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 210px;
}
.head_left_1 {
  position: relative;
  padding: 22px 0px 18px 0px;
}
.head_left_1 ul li {
  display: inline;
  margin-right: 25px;
}
.head_left_1 ul li a {
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 22px;
  color: #6e1a1a;
  text-decoration: none;
}
.head_left_1 ul li a:hover, .head_left_1 ul li#current a {
  color: #263b79;
}
.head_left_2 ul li ul {
  position: absolute;
  top: 25px;
  left: -18px;
  width: 125px;
  height: auto;
  padding: 15px;
  border: 4px solid #edecec;
  background: #fff;
  z-index: 10;
  display: none;
}
.head_left_2 ul li:hover ul {
  display: block;
}
.head_left_2 ul li {
  position: relative;
  display: inline;
}
.head_left_2 ul li ul li {
  position: relative;
  display: block;
  line-height: 26px;
}
.head_left_2 ul li a {
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 45px;
}
.head_left_2 ul li ul li a {
  font-size: 22px;
  text-transform: none;
  padding-right: 0px;
}
.head_left_2 ul li#current a {
  color: #263b79;
}
.head_right_1 {
  position: relative;
  padding: 0px 2px 2px 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px dashed #f54d56;
  border-left: 1px dashed #f54d56;
  border-right: 1px dashed #f54d56;
  margin-bottom: 25px;
}
.head_right_1_in {
  position: relative;
  padding: 8px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: url(../images/cart_bg.png);
}
.vmCartModule {
  position: relative;
  width: 150px;
  color: #fff;
  font-family: ALS_Direct_Cond_Light, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 30px;
  background: url(../images/cart_ico.png) 0px center no-repeat;
}
.vmCartModule .total {
  display: none !important;
}
.head_right_2 p, .head_right_2 address {
  text-align: right;
}
.head_right_2 p {
  margin-bottom: 8px;
}
.head_right_2 strong {
  font-size: 36px;
  color: #f54d56;
}
.head_right_2 address {
  display: block;
  float: right;
  height: 25px;
  line-height: 26px;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 22px;
  color: #6e1a1a;
  background: url(../images/phone_ico.png) 0px 0px no-repeat;
  padding-left: 30px;
}
.head_right_2 address:hover {
  color: #4e5d87;
  background: url(../images/phone_ico.png) 0px -25px no-repeat;
}
#slider {
  position: relative;
  height: 298px;
  background: #f54d56;
}
#slider li a {
  display: block;
  float: right;
}
#slider li a.readmore {
  display: inline;
  float: none;
}
#slider li .slide-desc {
  display: block;
  width: 485px;
  top: 0px !important;
  padding-top: 40px;
  padding-left: 20px;
}
#slider li .slide-desc .slide-desc-bg {
  background: none;
  opacity: 0;
  filter: 0;
}
#slider li .slide-desc .slide-title {
  color: #fff;
  font-family: AkzidenzGroteskPro_BoldCn, Verdana, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 60px;
}
#slider li .slide-desc .slide-text {
  color: #fff;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
#slider li .slide-desc .slide-text p {
  line-height: 30px;
}
#slider .navigation-container-custom {
  position: absolute;
  bottom: 20px;
  top: auto;
  left: 30px;
  right: auto;
}
span.load-button {
  background: #fff;
}
#main {
  position: relative;
  width: 980px;
  margin: 0px auto;
}
#content {
  position: relative;
}

#content div.row, #content div.category, #content div.product {
  position: relative;
}
#content div.category, #content div.product {
  float: left;
  width: 33.3%;
  margin-bottom: 40px;
}
#content .category .spacer, #content .product .spacer {
  margin: 0px auto;
}
#content .category .spacer {
  min-height: 285px;
}
#content .product .spacer {
  min-height: 395px;
}
#content .spacer {
  width: 250px;
  border: 4px solid #f7ede3;
  margin-bottom: 38px;
  padding: 15px;
}
#content .spacer:hover {
  border: 4px solid #edecec;
}
#content .spacer img {
  display: block;
  margin: 0px auto 15px auto;
}
#content .spacer h2 {
  font-size: 22px;
  line-height: 26px;
  background: none !important;
}
#content .spacer h3 {
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 10px;
  background: none !important;
}
#content .productdetails-view h1 {
  background: none !important;
}
#content .spacer h3 a {
  color: #717171;
  text-decoration: none;
}
#content .spacer h3 a:hover {
  color: #263b79;
  text-decoration: none;
}
#content .spacer .product-price {
  position: relative;
  float: left;
  min-height: 36px;
}
#content .spacer .product-price .PricebasePrice,
#content .spacer .product-price .PricediscountAmount,
#content .spacer .product-price .PricediscountedPriceWithoutTax {
  display: none !important;
}
#content .spacer .product-price .price-crossed span.PricebasePriceWithTax, span.line-through {
  text-decoration: line-through;
}
#content .spacer .product-price  > div { 
  line-height: 35px;
  padding-left: 5px;
}
#content .spacer .product-price div > span {
  font-size: 24px;
  font-family: AkzidenzGroteskPro_BoldCn, Verdana, sans-serif;
}
.coupon {
  float: left;
  width: 170px;
  margin-right: 2px !important;
}
.quantity-box {
  display: none;
  float: left;
  width: 38px;
  height: 36px;
  margin-right: 2px;
}
.quantity-box input {
  width: 30px;
}
.quantity-controls {
  display: none;
  float: left;
  margin-right: 4px;
}
.quantity-controls input {
  display: block;
  float: none;
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  padding: 0px;
  font-size: 15px;
}
.product_s_desc {
  display: block;
  margin-bottom: 10px;
}
.product_border {
  display: block;
  height: 36px;
  border: 1px dashed #f54d56;
  padding: 2px;
}
.product_border .addtocart-area {
  display: block;
  float: right;
  height: 36px;
}
.addtocart-button {
  display: block;
  float: left;
}
.addtocart-button input[type="button"], 
.addtocart-button input[type="submit"], 
.addtocart-button input[type="reset"], 
.addtocart-button input[type="file"]::-webkit-file-upload-button, 
.addtocart-button button {
  height: 36px;
  padding: 0px 20px;
  background: url(../images/cart.png) center center no-repeat #f54d56;
  text-indent: -3000px;
}
.addtocart-button input[type="button"]:hover, 
.addtocart-button input[type="submit"]:hover, 
.addtocart-button input[type="reset"]:hover, 
.addtocart-button input[type="file"]::-webkit-file-upload-button:hover, 
.addtocart-button button:hover {
  background: url(../images/cart.png) center center no-repeat #4c5e90;
}
.addtocart-button input[type="button"]:active, 
.addtocart-button input[type="submit"]:active, 
.addtocart-button input[type="reset"]:active, 
.addtocart-button input[type="file"]::-webkit-file-upload-button:active, 
.addtocart-button button:active {
  background: url(../images/cart.png) center center no-repeat #001961;
}
.display-number, .orderlist, .back-to-category {
  display: none;
}
.orderby-displaynumber {
  position: relative;
}
.orderby-displaynumber .width70.floatleft, .orderby-displaynumber .orderlistcontainer {
  position: relative;
  float: left;
}
.orderlistcontainer {
  position: relative;
  width: 170px;
  height: 50px;
  padding: 15px;
  border: 4px solid #edecec;
  margin-right: 55px;
}
.orderlistcontainer .title {
  display: block;
  margin-bottom: 8px;
}
.orderlistcontainer .activeOrder {
  display: block;
  color: #f54d56;
  text-decoration: underline;
  cursor: pointer;
}
.orderlistcontainer .activeOrder:hover {
  color: #263b79;
}
.orderlistcontainer .orderlist {
  position: absolute;
  left: -4px;
  width: 170px;
  padding: 0px 15px 15px 15px;
  border-left: 4px solid #edecec;
  border-right: 4px solid #edecec;
  border-bottom: 4px solid #edecec;
  top: 63px;
  background: #fff;
}
.product_left {
  position: relative;
  float: left;
  width: 410px;
  border: 6px solid #f7ede3;
}
.product_right {
  position: relative;
  float: right;
  width: 540px;
}
.main-image {
  position: relative;
  float: left;
  width: 300px;
  padding: 6px;
}
.main-image img {
  display: block;
  width: 300px;
  margin: 0px auto;
}
.additional-images {
  position: relative;
  margin-left: 315px;
}
.additional-images .floatleft {
  position: relative;
  width: 85px;
  margin: 6px;
}
.additional-images img {
  display: block;
  width: 70px;
  border: 6px solid #f7ede3;
  margin: 0px auto;
}
.product-short-description {
  position: relative;
  margin-bottom: 10px;
}
.product_right .vote, 
.product_right .product-price, 
.product_right .addtocart-area, 
.product_right .ask-a-question, 
.product_right .manufacturer {
  display: block;
  margin-bottom: 10px;
}
.product_right .addtocart-bar {
  float: left;
}
.product-description {
  position: relative;
  margin-top: 10px;
}
.product-description .title {
  display: block;
  color: #656363;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 42px;
  text-transform: uppercase;
  text-align: left;
}
body.contentpane {
  min-width: 100%;
  height: auto;
}
body.contentpane h1, body.contentpane h2 {
  line-height: 50px;
}
.askform tr td {
  padding: 5px 0px;
}
div.submit {
  width: 358px;
  margin: 10px auto;
}
div.submit .counter {
  float: left; 
  margin-right: 2px;
}
.manufacturer-image, .manufacturer-product-link {
  text-align: center;
}
.continue {
  float: left;
}
.showcart {
  float: right;
}
.cart_top .width50 {
  position: relative;
  float: left;
}
.cart_top .width50.right {
  float: right;
}
.billto-shipto {
  position: relative;
  margin: 10px 0px 20px 0px;
}
.billto-shipto .width50.floatleft {
  position: relative;
  float: left;
  width: 50%;
}
.billto-shipto .width50.floatleft .vmicon {
  display: block;
  color: #656363;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 42px;
  text-transform: uppercase;
}
.control-buttons {
  position: relative;
  height: 36px;
  margin-bottom: 10px;
}
.control-buttons button[type='reset']{
  float: left;
}
.control-buttons button[type='submit']{
  float: right;
}
.output-billto, .output-shipto {
  line-height: 26px;
}
.customer-comment .comment, .customer-comment, .terms-of-service {
  display: block;
  margin-bottom: 10px;
}
.cart-summary {
  margin-bottom: 10px;
}
.vmorder-done {
  width: 500px;
  float: left;
}
.vmorder-done tr td {
  vertical-align: middle;
  padding: 4px 4px;
}
.adminForm tr td {
  vertical-align: middle;
  padding: 4px 4px;
}
.cart-summary tr td, .cart-summary tr th {
  border: 4px solid #f7ede3;
  padding: 4px 4px;
  vertical-align: middle;
}
.cart-summary tr th {
  color: #656363;
  font-family: AkzidenzGroteskPro_LightCn, Verdana, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
}
.cart-summary .cart-images {
  display: block;
  float: left;
  margin-right: 10px;
}
.cart-summary .cart-images img {
  display: block;
  width: 80px;
  border: 3px solid #edecec;
}
.checkout-button-top .terms-of-service {
  display: block;
  float: left;
}
.category-product-label {
  position: absolute;
  top: 15px;
  left: 15px;
}
.category-product-label img {
  display: block;
  width: 100px !important;
}
.category-product-label .vm-img-desc {
  display: none;
}

#xmap {
  position: relative;
}
#content #xmap ul li ul {
  margin: 8px 18px;
}
.muted {
  display: none;
}
.product-field-display input[type='radio']{display: none;}